<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Main CSS-->
  <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css">
  <!-- iconfont CSS -->
  <link rel="stylesheet" type="text/css" href="../public/icon/icofont/icofont.min.css">
  <style>
    .one {
      border-color: #408BEA;
      border-left: solid 5px #408bea;
      padding-left: 10px;
    }
  </style>
</head>

<body>

  <div class="container mt-5">
    <h2 class="one"> Shopping Cart </h2>
    <div class="row mt-3">
      <div class="col-6">
        <a href="#" class="btn mainfullbtncolor btn-outline-secondary float-left">
          <i class="icofont-shopping-cart"></i>
          Continue Shopping
        </a>
        <!-- <p>Remaining points</p> -->
      </div>
      <div class="col-6">
        <a href="#" class="btn mainfullbtncolor btn-outline-danger float-right">
          <i class="icofont-ui-delete"></i>
          Empty Cart
        </a>
      </div>
    </div>
    <div class="row mt-3">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="text-center">Name</th>
              <th scope="col">Qty</th>
              <th scope="col">Price</th>
              <th scope="col">Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="d-flex no-block align-items-center">
                  <div class="mr-3">
                    <img src="https://i.imgur.com/mGMzw6W.jpg" alt="user" class="rounded-circle" width="50"
                      height="45" />
                  </div>

                  <div class="">
                    <h5 class="text-dark mb-0 font-16 font-weight-medium"> Food One</h5>
                    <span class="text-muted font-14">
                      description
                    </span>
                  </div>
                </div>
              </td>
              <td>1</td>
              <td>1000 Ks</td>
              <td>1000 Ks</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2" class="text-right">
                <div class="d-inline-flex">
                  <h5>Points : <span class="badge badge-pill badge-info">100</span></h5>
                  <button class="btn btn-success btn-sm ml-3"><i class="icofont-check-circled"></i> Use</button>
                </div>
              </td>
              <td class="text-right">Discount</td>
              <td>0 Ks</td>
            </tr>
            <tr>
              <td colspan="3" class="text-right">Total</td>
              <td>8000 Ks</td>
            </tr>
            <tr>
              <td colspan="4" class="text-right"><a href="#" class="btn btn-primary">Check Out</a></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  <!-- scripts -->
  <script src="../public/js/jquery-3.3.1.min.js"></script>
  <script src="../public/js/popper.min.js"></script>
  <script src="../public/js/bootstrap.min.js"></script>
</body>

</html>